<div class="grid-container">
  <!-- <nav class="aside navbar_aside">
      <ul class="menu_aside" id="menu_aside">
          <li class="menu_item"><a href="#" class="menu_link">Inicio</a></li>
          <li class="menu_item"><a href="#" class="menu_link">Quiénes Somos</a></li>
          <li class="menu_item"><a href="#" class="menu_link">Preguntas Frecuentes</a></li>
          <li class="menu_item"><a href="#" class="menu_link">Contáctenos</a></li>
          <li class="menu_item"><a href="#" class="menu_link">Legales</a></li>
      </ul>
  </nav>  -->
  
  <div class="preguntas">
      <div class="grid__titulo ">
          <div class="flex-container">
              <div class="title__servicio">
                  <h3 class="title">Información regulatoria de CONECT</h3>
              </div>
              <div class="p__servicio">
                <p>CONECT se compromete fuertemente con el cumplimiento de todas las normas aplicables en materia de "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>

              </div>
          </div>
      </div>
      <div class="pregunta">
          <div class="flex-container">
              <div class="title__servicio">
                  <h3 class="title">Responsabilidad </h3>
              </div>
              <div class="p__servicio">
                <p>CONECT se compromete fuertemente con el cumplimiento de todas las normas aplicables en materia de "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>

              </div>
          </div>
      </div>
      <div class="pregunta">
          <div class="flex-container">
              <div class="title__servicio">
                  <h3>Información sobre Responsavilidad de Datos.</h3>
              </div>
              <div class="p__servicio">
                  <p> "CONECT se compromete fuertemente con el Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
                
              </div>
          </div>
      </div>
      <div class="pregunta">
          <div class="flex-container">
              <div class="title__servicio">
                  <h3 class="title">Información sobre </h3>
              </div>
              <div class="p__servicio">
                  <p>CONECT se compromete fuertemente con el cumplimiento de todas las normas aplicables en materia de "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
              </div>
          </div>
      </div>
  </div>
</div>
