:root{ /*Paleta de Colores Elegida*/
    --c-xxx:#1B1717;
    --c-xx: #810000;
    --c-x:  #CE1212;
    --c:    #EEEBDD;
}

body{
    font-family: 'Roboto', sans-serif;
    font-weight: 300; 
    color:#1B1717;
}

.form-control, .btn {
    min-height: 3.125rem;
    line-height:inherit;
    border-radius: 10px;   
}

.row {
    height: auto;
}

h1, h2{
    color: #810000;
}

a{
    color: #1B1717;
    text-decoration:none ;
}

a:hover{
    color: #CE1212;  
    font-size: 16px;
}

.img-1 {
    background-size: cover;
    background-position: center;
  
}

.box-sombra {
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;
}

.button{
    background-color: #810000;
    color: #F6F5F5 ;
    border: solid .1rem #1B1717;
    font-size: 2rem;
}

.button:hover {
    background: #CE1212 ;   
    color:  #EEEBDD;
}

.breadcrumb2{
    list-style: none; 
}

input.ng-valid {
    border-left: 4px solid rgb(92, 238, 92);
  }
  
  input.ng-invalid {
    border-left: 4px solid #810000;
  }
  
  input.ng-pristine {
    border-left: 4px solid rgb(235, 235, 110);
  }

  p {
    font-weight: lighter;
    font-family: sans-serif;
    margin-bottom: 0%;
    margin-top: .4rem;
    margin-left: 2rem;
  }