<body class="bg-light">
  <section class="container">
    <div class="row justify-content-center alig-items-center">  
      <div class="col-lg-8 d-flex flex-row ">
          <div class="px-lg-5 py-lg-4 p-4 w-100 aling-self-center">
              <h1 class="font-weight-bold mb-4 ">Recupera tu Contraseña MyApp</h1>
              <form [formGroup] = "recuperarContrasena">
                  <div class="mb-4">
                    <label class="form-label font-weight-bold">Email</label>
                    <input type="email" class="form-control" placeholder="Ingresá tu email" formControlName="email">
                    <p *ngIf="email!.invalid && email!.touched" class="advertencia"
                              style="color: rgb(136, 17, 37); font-style: italic; font-size: smaller;">
                              Correo necesario. Formato usuario@proveedor.com</p>
                  </div>                  
  
                  <button type="submit" class=" button mb-4 gradiente-btn btn rounded-pill box-sombra w-100" routerLink="#home">Ingresar</button>
                  
                  <div class=" breadcrumb2 text-center px-lg-5 pt-lg-3 pb-lg-4 p-4 "> 
                      <li><a routerLink="registro" routerLinkActive="link-activo" [routerLinkActiveOptions]="
                    {exact: true}">Registrate</a></li>
                  </div>
                  <div class=" breadcrumb2 text-center px-lg-5 pt-lg-3 pb-lg-4 p-4 "> 
                      <li><a routerLink="" routerLinkActive="link-activo" [routerLinkActiveOptions]="
                    {exact: true}">Login</a></li>
                  </div>
                  
              </form> 
          </div>
        </div>
      </div>
  </section>
  </body>
