<footer class="footer">
  <div class="">
      <ul class="breadcrumb2 gradient-custom">
          <li><a routerLink="" routerLinkActive="link-activo" >Inicio</a></li>
          <li><a routerLink="quienessomos" routerLinkActive="link-activo">Quiénes somos</a></li>
          <li><a routerLink="preguntasfrecuentes" routerLinkActive="link-activo">FAQ</a></li>
          <li><a routerLink="legales" routerLinkActive="link-activo">Legales</a></li>
          <li><a routerLink="contacto" routerLinkActive="link-activo">Contáctanos</a></li>
          <li><a>© CONTACT 2021 – Todos los derechos reservados.</a></li>
      </ul>
    </div>
</footer>
