:root{ /*Paleta de Colores Elegida*/
    --c-xxx:#1B1717;
    --c-xx: #810000;
    --c-x:  #CE1212;
    --c:    #EEEBDD;
}

body{
    font-family: 'Roboto', sans-serif;
    font-weight: 300; 
    background-color:#F6F5F5;
    padding-bottom: 0px;
    margin-bottom: -60px;
}

h1{
    color: #810000;
}

a{
    color: #1B1717;
    text-decoration:none ;
}

a:hover{
    color: #CE1212;  
    font-size: 16px;
}

.form-control, .btn {
    min-height: 3.125rem;
    line-height:inherit;
    -webkit-border-radius: 10px;
    border-radius: 10px;   
}

.button {
    background-color: #810000;
    color: #F6F5F5 ;
    border: solid .1rem #1B1717;
    font-size: 2rem;
}

.button:hover {
    background: #CE1212 ;   
    color:  #EEEBDD;
}

.img-1 {
    background-size: cover;
    background-position: center;
  
}

.box-sombra {
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;
}

.flexbox-container {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: space-between;
  }

p {
    font-weight: lighter;
    font-family: sans-serif;
    margin-bottom: 0%;
    margin-top: .4rem;
    margin-left: 2rem;
}

.breadcrumb2{
    list-style: none; 
}

input.ng-valid {
    border-left: 4px solid green;
  }
  
  input.ng-invalid {
    border-left: 4px solid red;
  }
  
  input.ng-pristine {
    border-left: 4px solid yellow;
  }
